/* entire container, keeps perspective */
.FlipContainerY,
.FlipContainerX {
  perspective: 1000px;
  background-color: transparent;
}

/* flip the pane when hovered */
.FlipContainerY:hover .FlipperY {
  transform: rotateY(180deg);
}

.FlipContainerX:hover .FlipperX {
  transform: rotateX(180deg);
}

.FlipContainerX,
.FlipContainerY,
.Front,
.Back {
  width: 100%;
}

/* flip speed goes here */
.FlipperX,
.FlipperY {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.Front,
.Back {
  backface-visibility: hidden;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.FrontX {
  position: relative;
  z-index: 2;
  transform: rotateX(0deg);
}

/* back, initially hidden pane */
.BackX {
  transform: rotateX(180deg);
  position: absolute;
}
/* front pane, placed above back */
.FrontY {
  position: absolute;
  z-index: 2;
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.BackY {
  position: absolute;
  transform: rotateY(180deg);
}

/* Manual */

.FlipperXManual0,
.FlipperYManual0 {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* flip the pane when hovered */
.FlipperYManual0 {
  transform: rotateY(0deg);
}

.FlipperXManual0 {
  transform: rotateX(0deg);
}

.FlipperYManual180 {
  transform: rotateY(180deg);
}

.FlipperXManual180 {
  transform: rotateX(180deg);
}
