body {
  margin: 0;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 64px 0;
  transition: all ease 200ms;
  overflow: hidden;
}

.Content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.App hr {
  width: 90%;
}

.App h1:first-of-type {
  margin-top: 12px !important;
}

.App svg {
  font-size: 2.5em;
}

.DarkTheme {
  background: rgb(255, 255, 255);
  color: rgb(16, 10, 52);
}

.LightTheme {
  background: rgb(16, 10, 52);
  color: white;
}

.ThemeHandler {
  position: fixed;
  left: 24px;
  top: 24px;
}

.Button {
  text-transform: uppercase;
  color: #333;
  background: #fff;
  border-color: #333;
  position: relative;
  outline: none;
  cursor: pointer;
  font: inherit;
  width: fit-content;
  user-select: none;
  border: 1px solid;
  line-height: 1.5;
  border-radius: 0.25rem;
  font-weight: bold;
  width: 100px;
  padding: 10px 17px;
  padding: var(--spacing-button-vertical, 10px)
    var(--spacing-button-horizontal, 17px);
  box-shadow: 2px 2px 5px 1px #666;
  transition: background-color 0.1s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, opacity 0.15s;
}

.BackLight,
.FrontLight {
  color: rgb(40, 44, 52);
  background-color: white;
  transition: all ease-in-out 200ms;
}

.BackDark,
.FrontDark {
  transition: all ease-in-out 200ms;
  background-color: rgb(16, 10, 52);
  color: white;
}

.CodeBlock {
  color: rgb(197, 200, 198);
  text-shadow: rgba(0, 0, 0, 0.3) 0px 1px;
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0px;
  overflow: auto;
  border-radius: 0.3em;
  background: rgb(40, 44, 52);
  max-width: 840px;
}

.Card {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  border: 0.5px solid e0e0e0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.CardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

h3 {
  margin: 5px;
}

.HoverInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
